[submodule "games"]
	path = games
	url = git@github.com:DaoCasino/FindTheEthereum.git
[submodule "game/FindTheEthereum"]
	path = game/FindTheEthereum
	url = git@github.com:DaoCasino/FindTheEthereum.git
[submodule "public/games/FindTheEthereum"]
	path = public/games/FindTheEthereum
	url = git@github.com:DaoCasino/FindTheEthereum.git
[submodule "packages/dclib"]
	path = packages/dclib
	url = git@github.com:DaoCasino/DCLib.git
[submodule "src/packages/dclib"]
	path = src/packages/dclib
	url = git@github.com:DaoCasino/DCLib.git
[submodule "public/games/new_dicegame"]
	path = public/games/new_dicegame
	url = git@github.com:DaoCasino/DiceGame.git
